{
	"env": {
		"browser": true
	},
	"globals": {
		"brytescore": true,
		"console": true,
		"XDomainRequest": true
	},
	"rules": {
		"camelcase": "warn",
		"eqeqeq": ["warn"],
		"quotes": ["warn", "single", "avoid-escape"],
		"no-console": "warn",
		"no-extend-native": "warn",
		"no-shadow": "warn",
		"no-shadow-restricted-names": "warn",
		"no-unused-vars": ["error", {"args": "none"}],
		"no-use-before-define": ["error", "nofunc"],
		"yoda": ["error", "always"]
	}
}