{
	"env": {
		"browser": true
	},
	"globals": {
		"brytescore": true,
		"console": true,
		"XDomainRequest": true
	},
	"rules": {
		"camelcase": 0,
		"quotes": [1, "single", "avoid-escape"],
		"no-console": 1,
		"no-extend-native": 1,
		"no-shadow": 1,
		"no-shadow-restricted-names": 1,
		"no-unused-vars": 1,
		"no-use-before-define": [2, "nofunc"],
		"yoda": [2, "always"]
	}
}